---
title: A propos
heading: Les membres de notre équipe
subtitle: Créatrices et créateurs de communs, les membres de Comme Une Idée proposent leurs compétences auprès d'organisations souhaitant travailler à la production de ressources ouvertes ou ayant la volonté de se baser sur des communs déjà existants ou à créer. <br> Ci dessous, quelques uns des membres de Comme Une Idée.
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>
